 @model IEnumerable<modal.Models.Cliente>

<div class="container mt-5">
    <h6><i class="fa-solid fa-circle-exclamation m-2"></i>Añadir  Cliente</h6>   
    <h8>Please, add a company to continue.</h8>
    <br />
    <br />
    <button class="btn btn-primary" style="background-color: #6F4E37" data-toggle="modal" data-target="#addCustomerModal"><i class="fa-solid fa-circle-exclamation m-2"></i>Añadir Cliente</button>
    <br>
    <br>
    <br>
    <h6>Mis compañias</h6>
    
    <table class="table" style="border-radius 10px" border="1">
        <thead class="table-active">
            <tr class="table-active">
                <th>Nombre</th>
                <th>País</th>
                <th>Tipo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>@customer.Nombre</td>
                    <td>@customer.Pais</td>
                    <td>@customer.TipoDeEntidad</td>
                    <td>
                        <button class="btn btn-danger btn-sm delete-btn" data-id="@customer.Id"><i class="fa-solid fa-circle-minus"></i></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="addCustomerModal" tabindex="-1" role="dialog" aria-labelledby="addCustomerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCustomerModalLabel"><i class="fa-solid fa-circle-exclamation m-2"></i>Añadir Cliente</h5>
               
            </div>
            <div class="modal-body">
                <div class="container text-lg-start sm-3">
                    <form id="addCustomerForm">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="Nombre">Nombre:*</label>
                                <input type="text" class="form-control" id="Nombres" name="Nombre">
                            </div>
                            <div class="col-md-4 order-2">
                                <label for="País">País:*</label>
                                <select class="form-control" id="Paiss" name="Paiss">
                                    <option value=""></option>
                                    <option value="Estados Unidos">Estados Unidos</option>
                                    <option value="Puerto Rico">Puerto Rico</option>
                                    <option value="Otros">Otros</option>
                                </select>
                                <p>Valores para dropdown:PR, EU, Otro</p>
                            </div>
                            <div class="col-md-4 order-3">
                                <label>Tipo De Identidad:*</label>
                                <div class="row">
                                    <div class="col order-1">
                                        <input type="radio" id="individual" name="TipoDeEntidads" value="Individuo">
                                        <label for="individual">Individuo</label>
                                    </div>
                                    <div class="col order-2">
                                        <input type="radio" id="company" name="TipoDeEntidads" value="Compañía">
                                        <label for="company">Compañía</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary m-2" style="background-color: #6F4E37" id="saveCustomerBtn"><i class="fa-solid fa-floppy-disk m-1"></i>Guardar</button>
                <button type="button" class="btn btn-danger m-2" data-dismiss="modal"><i class="fa-regular fa-circle-xmark m-1"></i>Cerrar</button>
                
            </div>
        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function () {
        $('#saveCustomerBtn').click(function () {
            var Nomb = $('#Nombres').val();
            var Pa = $('#Paiss').val();
            var Tipo = $('input[name="TipoDeEntidads"]:checked').val();

            if (Nomb && Pa && Tipo) {
                $.ajax({
                    url: '@Url.Action("AddCustomer", "Home")',
                    method: 'POST',
                    data: { camp1: Nomb, camp2: Pa, camp3: Tipo },
                    success: function (response) {
                        location.reload();
                    }
                });
                $('#addCustomerModal').modal('hide');
            } else {
                alert('Por favor, llene todos los campos.');
            }
        });

        $('.delete-btn').click(function () {
            var id = $(this).data('id');
            $.ajax({
                url: '@Url.Action("DeleteCustomer", "Home")',
                method: 'POST',
                data: { id: id },
                success: function (response) {
                    location.reload();
                }
            });
        });
    });
</script>
